.main-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--main-bg);
    overflow: hidden;
}

.glass-container {
    position: relative;
    background-color: var(--glass);
    border-radius: 2em;
    box-shadow: var(--box-shadow);
    max-width: 95vw;
    min-width: 40vw;
    max-height: 95vh;
    min-height: 45vh;
}